//
   Make sure all your bars are the first things in your <body>
header.bar.bar-nav#nav
    button.btn.btn-link.btn-nav.pull-left#prev-pass
        span.icon.icon-back
        |prev pass
    a(href='#gamma-popover')
        span gamma
    button.btn.btn-link.btn-nav.pull-right#next-pass
        |next pass
        span.icon.icon-forward
    h1.title PASS #
        span#pass-number

// popover for gamma
#gamma-popover.popover
    label Enter Gamma
    input(name='gamma' type='number' value='0.7' min='0' max='1' step='0.1')


//
   Wrap all non-bar HTML in the .content div (this is actually what scrolls)
.content
    ul.table-view
        li#position-display
            div.pull-left
                h5 current:
                br
                span#position
            div.pull-center
                span#arrow-icon.icon.icon-left.icon-active
                #track-dist.icon-active N/A
        li.table-view-cell#map
    nav.bar.bar-tab#menu-bar
        a.tab-item
            button.btn.btn-primary#btn-A
                span.icon.icon-compose.pull-left setA
                #pnt-A.pull-right
        a.tab-item
            button.btn.btn-primary#btn-B
                span.icon.icon-compose.pull-left setB
                #pnt-B.pull-right
        a.tab-item
            span left
            span.toggle
                span.toggle-handle
            span right
        a.tab-item
            #slider-container
                input#slider(type='range' min='100' max='1200' value='850')
            button.btn.btn-positive#shift-button
                span.icon.icon-code.pull-left#shift-distance 850ft
