

//
   Make sure all your bars are the first things in your <body>
header.bar.bar-nav
  h1.title Ceres Imaging
//
   Wrap all non-bar HTML in the .content div (this is actually what scrolls)
.content
  h1 TEST
  h3 current position
  p#position
  h3 point A
  p#pnt-A
  h3 point B
  p#pnt-B
  h2 track Distance
  p#track-dist
  button#btn-A set point A
  button#btn-B set point B
