

//
   Make sure all your bars are the first things in your <body>
header.bar.bar-nav
    button.btn.btn-link.btn-nav.pull-left#prev-pass
        span.icon.icon-back
        |prev pass
    button.btn.btn-link.btn-nav.pull-right#next-pass
        |next pass
        span.icon.icon-forward
    h1.title PASS 1
//
   Wrap all non-bar HTML in the .content div (this is actually what scrolls)
.content
    ul.table-view
        li#position-display
            div.pull-left
                h5 current position:
                span#position
            div.pull-center
                span.icon.icon-left.icon-active
                #track-dist.icon-active N/A
        li.table-view-cell#map
    nav.bar.bar-tab#menu-bar
        a.tab-item
            span.icon.icon-compose#btn-A.pull-left setA
            #pnt-A.pull-right
        a.tab-item
            span.icon.icon-compose#btn-B.pull-left setB
            #pnt-B.pull-right
        a.tab-item
            span left
            span.toggle
                span.toggle-handle
            span right
        a.tab-item
            #slider-container
                input#slider(type='range' min='100' max='1200' value='850')
            span.icon.icon-code#shift-distance 850ft
