

//
   Make sure all your bars are the first things in your <body>
header.bar.bar-nav
    h1.title Ceres Imaging
//
   Wrap all non-bar HTML in the .content div (this is actually what scrolls)
.content
    ul.table-view
        li#position-display
            div.pull-left
                h5 current position:
                span#position
            div.pull-center
                span.icon.icon-left.icon-active
                #track-dist.icon-active N/A
        li.table-view-cell#map
    nav.bar.bar-tab#menu-bar
        a.tab-item
            span.icon.icon-compose#btn-A.pull-left setA
            #pnt-A.pull-right
        a.tab-item
            span.icon.icon-compose#btn-B.pull-left setB
            #pnt-B.pull-right
        a.tab-item
            #slider-container
                input#slider(type='range' min='100' max='1200' value='850')
            span.icon.icon-code#shift-distance 850ft
